@import "tailwindcss";

:root {
  --bg: #F7F2EC;
  --bg-secondary:  #FFFBFB;
  --text-primary: #000000;
  --text-secondary: #797272;
  --button-primary: #E7AAAA;
  --button-primary-hover: #C28C8C;
  --button-secondary-hover: #E5E1E1;
  --button-correct: #E8FFEA;
  --button-correct-hover: #CDE4CF;
  --font-kumbh-sans: var(--font-kumbh-sans);
}

@theme inline {
  --color-bg: var(--bg);
  --color-bg-secondary: var(--bg-secondary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-button-primary: var(--button-primary);
  --color-button-primary-hover: var(--button-primary-hover);
  --color-button-secondary-hover: var(--button-secondary-hover);
  --color-button-correct: var(--button-correct);
  --color-button-correct-hover: var(--button-correct-hover);
  --font-sans: var(--font-kumbh-sans);
}

body {
  background: var(--bg);
  color: var(--text-primary);
  font-family: var(--font-kumbh-sans), Arial, Helvetica, sans-serif;
  font-size: 14px;
}

button {
  background-color: var(--color-button-primary);
  cursor: pointer;
  border-radius: 8px;
}

button :hover {
  background-color: var(--color-button-primary-hover);
  border-radius: 8px; 
}

input {
  border: 1.25px solid #000000;  
  border-radius: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  margin-top: 10px; 
  width: 100%;
}

h1 {
  font-size: 36px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
}